{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "all",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "objectWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true
}
